.profile{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.profile img{
	border-radius: 50%;
}
.profile h1{
	color: white;
	margin-top: 20px;
}
.profile p{
	font-size: 10px;
}
.list-menu{
	display: flex;
	gap: 20px;
	justify-content: space-evenly;
	align-items: center;
}
.list-menu .box{
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
}
.list-menu .box i{
	width: 300px;
	max-width: 200px;
	color: white;
	font-size: 50px;
}
.list-menu .box h3{
	font-size: 13px;
	color: white;
}
.list-menu .kotak1{
	background: #A7D397;
}
.list-menu .kotak2{
	background: #CE5A67;
}
.list-menu .kotak3{
	background: #00A9FF;
}
.list-menu .kotak4{
	background: #5D12D2;
}
